@import '../../sass/mixins';

.about-container {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column-reverse;
  }

  & div {
    max-width: 48%;

    @include mobile {
      max-width: 100%;
    }
  }

  & img {
    max-width: 100%;

    @include mobile {
      max-width: 70%;
      display: block;
      margin: 0 auto 16px;
    }
  }
}
