@import '../../../sass/mixins';

.menu-button {
  display: none;
}

@include mobile {
  .menu-button {
    display: block;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: calc(100% + 20px);
    right: 20px;
    border-radius: 100%;

    &__burger-icon {
      width: 22px;
      height: 3px;
      background: #fff;
      position: relative;
      left: 8px;
      transition: all 0.3s 0.25s ease-in-out;

      &:before {
        content: '';
        width: 22px;
        height: 3px;
        background: #fff;
        position: absolute;
        top: -8px;
        left: 0;
        transform-origin: 0 50%;
        transition: all 0.3s 0.25s;
      }
      &:after {
        content: '';
        width: 22px;
        height: 3px;
        background: #fff;
        position: absolute;
        bottom: -8px;
        left: 0;
        transform-origin: 0 50%;
        transition: all 0.3s 0.25s;
      }
    }

    &.active .menu-button__burger-icon {
      width: 0%;
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(3px, -3px);
      }
      &:after {
        transform: rotate(-45deg) translate(3px, 3px);
      }
    }
  }
  .header.open .menu-button {
    left: auto;
    right: 20px;
  }
}
