.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222;

  & img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;

    &.show {
      animation: 1s ease 0.2s normal forwards 1 fadein;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    padding: 0 100px;
    display: flex;
    height: 33.33%;
    align-items: flex-end;

    &--right {
      justify-content: flex-end;
    }

    & .page-title {
      opacity: 0;
      color: #fff;
      background: rgba(0, 0, 0, 0.9);
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      padding: 2rem;
      font-weight: 200;
      transition: all 0.7s cubic-bezier(0.35, 0.94, 0.46, 0.96);
      transform: translateY(500px);
      overflow: hidden;

      & span {
        display: inline-block;
        transform: translateY(-100px);
        opacity: 0;
        transition: all 0.7s cubic-bezier(0.35, 0.94, 0.46, 0.96);
        color: #fff;
      }

      &--show {
        opacity: 1;
        transform: translateY(0);

        & span {
          opacity: 1;
          transform: translateY(0);
        }
      }

      & a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &__scroll {
    position: relative;
    background: transparent;
    border: none;
    font-size: 4rem;
    color: #fff;
    display: block;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    transition: transform 1s ease-out;

    &--up {
      margin-top: 4rem;
      align-self: flex-start;
    }

    &--down {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    &:hover {
      transform: translateY(-10px) scale(1.1);
    }

    & svg {
      width: 60px;
      fill: #fff;
      filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.3));
    }
  }
}
