.footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;

  &__copyright {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.7rem;

    &:before {
      content: '// ';
    }
  }
}
