.footer {
  background: #222;
  display: flex;
  justify-content: space-around;

  &__copyright {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
  }
}
